<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <filename="/opt/ros/foxy/include/gazebo_plugins/skid_steer_drive.hpp">
    
    
            <updateRate>100.0</updateRate>
            <robotNamespace>/</robotNamespace>
            <leftFrontJoint>left_wheel_a_joint</leftFrontJoint>
            <rightFrontJoint>right_wheel_a_joint</rightFrontJoint>
            <leftRearJoint>left_wheel_b_joint</leftRearJoint>
            <rightRearJoint>right_wheel_b_joint</rightRearJoint>
            <wheelSeparation>0.4</wheelSeparation>
            <wheelDiameter>0.215</wheelDiameter>

    
        </plugin>
    </gazebo>

</robot>